<h1 class="text-center text-2xl">Chat</h1>
<input id="chat-nick-input" type="text" placeholder="Type a nickname..." value="Unknown" class="" />
<input id="chat-text-input" type="text" placeholder="Type a message..." class="" />
<button id="chat-send-button" class="">Send</button>
<button id="chat-show-game-view-button">Show game_view</button><!-- //todo remove/refactor. dev/dummy -->
<div id="chat-messages-div"></div>

<!-- versus modal popup section -->
<div id="versus-menu-modal" class="vs-modal hidden">
  <div class="vs-modal-header">
    <div class="vs-modal-title">Available VS Matches</div>
    <button id="vs-modal-close">&times;</button>
  </div>
  <div id="vs-modal-list"></div>
</div>